CREATE DATABASE [TauThuyenVietDB]
GO

USE [TauThuyenVietDB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/11/2020 7:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](150) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[FullName] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Mobi] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Gender] [bit] NULL,
	[Status] [bit] NULL,
	[CreateTime] [datetime] NULL,
	[AccountCategoryID] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountCategory]    Script Date: 6/11/2020 7:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountCategory](
	[AccountCategoryID] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Description] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 6/11/2020 7:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Content] [ntext] NULL,
	[Keyword] [nvarchar](4000) NULL,
	[ImageList] [nvarchar](4000) NULL,
	[SourcePage] [nvarchar](50) NULL,
	[SourceLink] [nvarchar](255) NULL,
	[AttachmentFile] [nvarchar](4000) NULL,
	[ViewTime] [int] NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[CreateTime] [datetime] NULL,
	[ArticleCategoryID] [int] NULL,
	[CreateBy] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticleCategory]    Script Date: 6/11/2020 7:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleCategory](
	[ArticleCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[CreateTime] [datetime] NULL,
	[ArticleMainCategoryID] [int] NULL,
	[CreateBy] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticleMainCategory]    Script Date: 6/11/2020 7:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleMainCategory](
	[ArticleMainCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[CreateTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 6/11/2020 7:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Mobi] [nvarchar](20) NULL,
	[Content] [ntext] NULL,
	[AttachmentFile] [nvarchar](4000) NULL,
	[Status] [bit] NULL,
	[CreateTime] [datetime] NULL,
	[ApproveBy] [nvarchar](50) NULL,
	[ContactCategoryID] [int] NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactCategory]    Script Date: 6/11/2020 7:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactCategory](
	[ContactCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[CreateTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_ContactCategory] PRIMARY KEY CLUSTERED 
(
	[ContactCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/11/2020 7:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Content] [ntext] NULL,
	[Keyword] [nvarchar](4000) NULL,
	[ImageList] [nvarchar](4000) NULL,
	[GalleryImageList] [nvarchar](4000) NULL,
	[SourcePage] [nvarchar](50) NULL,
	[SourceLink] [nvarchar](255) NULL,
	[ViewTime] [int] NULL,
	[AttachmentFile] [nvarchar](4000) NULL,
	[Price] [float] NULL,
	[OldPrice] [float] NULL,
	[Promotions] [nvarchar](4000) NULL,
	[WarrantyPolicy] [nvarchar](4000) NULL,
	[Specifications] [nvarchar](4000) NULL,
	[Accessories] [nvarchar](4000) NULL,
	[Quantity] [int] NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[CreateTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[ProductCategoryID] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 6/11/2020 7:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ProductCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[CreateTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[ProductMainCategoryID] [int] NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMainCategory]    Script Date: 6/11/2020 7:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMainCategory](
	[ProductMainCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[Position] [int] NULL,
	[CreateTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_ProductMainCategory] PRIMARY KEY CLUSTERED 
(
	[ProductMainCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Username], [Password], [Avatar], [Thumb], [FullName], [Email], [Mobi], [Address], [Gender], [Status], [CreateTime], [AccountCategoryID]) VALUES (N'admin', N'123456', N'/FileUploads/Account/8761ea0b-776c-4504-a845-58d5617d90f4.png', N'/FileUploads/Account/thumbs/8761ea0b-776c-4504-a845-58d5617d90f4.png', N'Lê Minh Hiếu', N'mrhieuit@gmail.com', N'0979 876 678', N'Thủ Dầu Một, Bình Dương', 1, 1, CAST(N'2016-01-29T11:01:04.433' AS DateTime), N'SupperAdmin')
GO
INSERT [dbo].[AccountCategory] ([AccountCategoryID], [Title], [Description], [Avatar], [Thumb], [Status], [Position]) VALUES (N'SupperAdmin', N'Quản trị cao cấp', N'Quản trị hệ thống có toàn quyền trên hệ thống', N'/Fileuploads/AccountCategory/54a0297f-3415-4d5b-90d8-e15d631e83ab.png', N'/Fileuploads/AccountCategory/thumbs/54a0297f-3415-4d5b-90d8-e15d631e83ab.png', 1, 1)
INSERT [dbo].[AccountCategory] ([AccountCategoryID], [Title], [Description], [Avatar], [Thumb], [Status], [Position]) VALUES (N'Admin', N'Quản trị viên cơ bản', N'Quản trị viên cơ bản được phép thực hiện các thao tác quản trị website', N'/Fileuploads/AccountCategory/cbadb60e-fe2b-4f31-a067-0b49a61344e8.png', N'/Fileuploads/AccountCategory/thumbs/cbadb60e-fe2b-4f31-a067-0b49a61344e8.png', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Article] ON 

SET IDENTITY_INSERT [dbo].[Article] OFF
GO
SET IDENTITY_INSERT [dbo].[ArticleCategory] ON 

INSERT [dbo].[ArticleCategory] ([ArticleCategoryID], [Code], [Title], [Description], [Avatar], [Thumb], [Status], [Position], [CreateTime], [ArticleMainCategoryID], [CreateBy]) VALUES (38, N'', N'Tin Tổng Hợp', N'', N'/Admin/css/img/no_image.jpg', N'/Admin/css/img/no_image.jpg', 1, NULL, CAST(N'2016-09-24T21:54:11.610' AS DateTime), 10, N'admin')
SET IDENTITY_INSERT [dbo].[ArticleCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ArticleMainCategory] ON 

INSERT [dbo].[ArticleMainCategory] ([ArticleMainCategoryID], [Code], [Title], [Description], [Avatar], [Thumb], [Status], [Position], [CreateTime], [CreateBy]) VALUES (10, N'', N'Tin Tức', N'', N'/Admin/css/img/no_image.jpg', N'/Admin/css/img/no_image.jpg', 1, NULL, CAST(N'2016-09-24T21:53:35.493' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[ArticleMainCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ContactID], [Code], [FullName], [Email], [Address], [Mobi], [Content], [AttachmentFile], [Status], [CreateTime], [ApproveBy], [ContactCategoryID]) VALUES (1, NULL, N'Lê Minh Hiếu', N'mrhieuit@gmail.com', NULL, N'9876543', N'Liên hệ lần thứ 1', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Contact] ([ContactID], [Code], [FullName], [Email], [Address], [Mobi], [Content], [AttachmentFile], [Status], [CreateTime], [ApproveBy], [ContactCategoryID]) VALUES (2, NULL, N'Lê Minh Hiếu', NULL, NULL, N'0987654', N'Liên hệ mua hàng', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactCategory] ON 

INSERT [dbo].[ContactCategory] ([ContactCategoryID], [Code], [Title], [Description], [Avatar], [Thumb], [Status], [Position], [CreateTime], [CreateBy]) VALUES (1, N'', N'Thư Liên Hệ', N'', N'/Admin/css/img/no_image.jpg', N'/Admin/css/img/no_image.jpg', 1, NULL, CAST(N'2016-09-30T00:57:34.617' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[ContactCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([ProductCategoryID], [Code], [Title], [Description], [Avatar], [Thumb], [Status], [Position], [CreateTime], [CreateBy], [ProductMainCategoryID]) VALUES (36, N'', N'SPACK', N'', N'/Admin/css/img/no_image.jpg', N'/Admin/css/img/no_image.jpg', 1, 1, CAST(N'2016-09-23T14:03:17.590' AS DateTime), N'admin', 6)
INSERT [dbo].[ProductCategory] ([ProductCategoryID], [Code], [Title], [Description], [Avatar], [Thumb], [Status], [Position], [CreateTime], [CreateBy], [ProductMainCategoryID]) VALUES (37, N'', N'GTS', N'', N'/Admin/css/img/no_image.jpg', N'/Admin/css/img/no_image.jpg', 1, 1, CAST(N'2016-09-23T14:03:17.590' AS DateTime), N'admin', 6)
INSERT [dbo].[ProductCategory] ([ProductCategoryID], [Code], [Title], [Description], [Avatar], [Thumb], [Status], [Position], [CreateTime], [CreateBy], [ProductMainCategoryID]) VALUES (38, N'', N'GTI', N'', N'/Admin/css/img/no_image.jpg', N'/Admin/css/img/no_image.jpg', 1, 1, CAST(N'2016-09-23T14:03:17.590' AS DateTime), N'admin', 6)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductMainCategory] ON 

INSERT [dbo].[ProductMainCategory] ([ProductMainCategoryID], [Code], [Title], [Description], [Avatar], [Thumb], [Status], [Position], [CreateTime], [CreateBy]) VALUES (6, N'', N'Sea-doo', N'', N'/Content/images/background/sea-doo-viet-nam.jpeg', N'/Content/images/logo/sea-doo.png', 1, 1, CAST(N'2016-09-23T14:02:48.503' AS DateTime), N'admin')
INSERT [dbo].[ProductMainCategory] ([ProductMainCategoryID], [Code], [Title], [Description], [Avatar], [Thumb], [Status], [Position], [CreateTime], [CreateBy]) VALUES (7, N'', N'Can-am', N'', N'/Content/images/background/can-am-off-road-viet-nam.jpg', N'/Content/images/logo/can-am-off-road.png', 1, 1, CAST(N'2016-09-23T14:02:48.503' AS DateTime), N'admin')
INSERT [dbo].[ProductMainCategory] ([ProductMainCategoryID], [Code], [Title], [Description], [Avatar], [Thumb], [Status], [Position], [CreateTime], [CreateBy]) VALUES (8, N'hide', N'Phụ kiện', N'', N'/Admin/css/img/no_image.jpg', N'/Admin/css/img/no_image.jpg', 1, 1, CAST(N'2016-09-23T14:02:48.503' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[ProductMainCategory] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_ACCOUNT]    Script Date: 6/11/2020 7:33:35 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [PK_ACCOUNT] PRIMARY KEY NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_ACCOUNTTYPE]    Script Date: 6/11/2020 7:33:35 PM ******/
ALTER TABLE [dbo].[AccountCategory] ADD  CONSTRAINT [PK_ACCOUNTTYPE] PRIMARY KEY NONCLUSTERED 
(
	[AccountCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_ARTICLE]    Script Date: 6/11/2020 7:33:35 PM ******/
ALTER TABLE [dbo].[Article] ADD  CONSTRAINT [PK_ARTICLE] PRIMARY KEY NONCLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_ARTICLECATEGORY]    Script Date: 6/11/2020 7:33:35 PM ******/
ALTER TABLE [dbo].[ArticleCategory] ADD  CONSTRAINT [PK_ARTICLECATEGORY] PRIMARY KEY NONCLUSTERED 
(
	[ArticleCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_ARTICLEMAINCATEGORY]    Script Date: 6/11/2020 7:33:35 PM ******/
ALTER TABLE [dbo].[ArticleMainCategory] ADD  CONSTRAINT [PK_ARTICLEMAINCATEGORY] PRIMARY KEY NONCLUSTERED 
(
	[ArticleMainCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_ACCOUNTTY_ACCOUNTT] FOREIGN KEY([AccountCategoryID])
REFERENCES [dbo].[AccountCategory] ([AccountCategoryID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_ACCOUNT_ACCOUNTTY_ACCOUNTT]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_ARTICLE_ACCOUNT_A_ACCOUNT] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_ARTICLE_ACCOUNT_A_ACCOUNT]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_ARTICLE_ARTICLECA_ARTICLEC] FOREIGN KEY([ArticleCategoryID])
REFERENCES [dbo].[ArticleCategory] ([ArticleCategoryID])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_ARTICLE_ARTICLECA_ARTICLEC]
GO
ALTER TABLE [dbo].[ArticleCategory]  WITH CHECK ADD  CONSTRAINT [FK_ARTICLEC_ACCOUNT_A_ACCOUNT] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[ArticleCategory] CHECK CONSTRAINT [FK_ARTICLEC_ACCOUNT_A_ACCOUNT]
GO
ALTER TABLE [dbo].[ArticleCategory]  WITH CHECK ADD  CONSTRAINT [FK_ARTICLEC_ARTICLEMA_ARTICLEM] FOREIGN KEY([ArticleMainCategoryID])
REFERENCES [dbo].[ArticleMainCategory] ([ArticleMainCategoryID])
GO
ALTER TABLE [dbo].[ArticleCategory] CHECK CONSTRAINT [FK_ARTICLEC_ARTICLEMA_ARTICLEM]
GO
ALTER TABLE [dbo].[ArticleMainCategory]  WITH CHECK ADD  CONSTRAINT [FK_ARTICLEM_ACCOUNT_A_ACCOUNT] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[ArticleMainCategory] CHECK CONSTRAINT [FK_ARTICLEM_ACCOUNT_A_ACCOUNT]
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD  CONSTRAINT [FK_Contact_Account] FOREIGN KEY([ApproveBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Contact] CHECK CONSTRAINT [FK_Contact_Account]
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD  CONSTRAINT [FK_Contact_ContactCategory] FOREIGN KEY([ContactCategoryID])
REFERENCES [dbo].[ContactCategory] ([ContactCategoryID])
GO
ALTER TABLE [dbo].[Contact] CHECK CONSTRAINT [FK_Contact_ContactCategory]
GO
ALTER TABLE [dbo].[ContactCategory]  WITH CHECK ADD  CONSTRAINT [FK_ContactCategory_Account] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[ContactCategory] CHECK CONSTRAINT [FK_ContactCategory_Account]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Account] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Account]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductCategory] FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[ProductCategory] ([ProductCategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductCategory]
GO
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD  CONSTRAINT [FK_ProductCategory_Account] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[ProductCategory] CHECK CONSTRAINT [FK_ProductCategory_Account]
GO
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD  CONSTRAINT [FK_ProductCategory_ProductMainCategory] FOREIGN KEY([ProductMainCategoryID])
REFERENCES [dbo].[ProductMainCategory] ([ProductMainCategoryID])
GO
ALTER TABLE [dbo].[ProductCategory] CHECK CONSTRAINT [FK_ProductCategory_ProductMainCategory]
GO
ALTER TABLE [dbo].[ProductMainCategory]  WITH CHECK ADD  CONSTRAINT [FK_ProductMainCategory_Account] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[ProductMainCategory] CHECK CONSTRAINT [FK_ProductMainCategory_Account]
GO
